<div class="container" id="container">
		<form action="#">
			<h1>Přihlaste se</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Heslo" />
			<a routerLink="/resetpassword">Zapoměli jste svoje heslo?</a>
			<button>SIGN IN CALL ENDPOINT</button>
		</form>
</div>

