<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Vytvořit účet</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>nebo použíjte Váš email pro dokončení registrace</span>
			<input type="text" placeholder="Jméno" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Heslo" />
			<button>SIGN UP CALL ENDPOINT</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Přihlaste se</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Heslo" />
			<a href="#">Zapoměli jste svoje heslo?</a>
			<button>SIGN IN CALL ENDPOINT</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Vítejte zpět!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" (click)="signIn()">SIGN IN</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" (click)="signUp()">SIGN UP</button>
			</div>
		</div>
	</div>
</div>

