<!--
<nav *ngIf="isAdmin" id="sidebar">
  <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
      <a (click)="onLogout()">Odhlásit se</a>

  </div>

  <ul class="list-unstyled components">
      <li class="active">
          <a href="#homeSubmenu">Home</a>
      </li>
      <li>
          <a href="#">About</a>
      </li>
      <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Page 1</a>
              </li>
              <li>
                  <a href="#">Page 2</a>
              </li>
              <li>
                  <a href="#">Page 3</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#">Portfolio</a>
      </li>
      <li>
          <a href="#">Contact</a>
      </li>
  </ul>

</nav>
 -->
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg shadow ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['/',UrlPathHome]">
      <img src="./assets/images/logo.png"  alt="" width="30" height="24" class="d-inline-block align-text-top">
      <span>Mentors</span>
    </a>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" [routerLink]="['/',UrlPathAdmin]">Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/',UrlPathCourse]">Kurzy</a>
        </li>
        <li *ngIf="isUser" class="nav-item">
          <a class="nav-link" href="#">Moje Kurzy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/',UrlAdminUsers]">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pro Firmy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O Nás</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button *ngIf="!isLoggedIn" type="button" class="ghost" [routerLink]="['/',UrlPathLogin]">
          Přihlásit se
        </button>
        <button *ngIf="isLoggedIn" type="button" (click)="onLogout()" class="ghost" [routerLink]="['/',UrlPathHome]">
          Odhlásit se
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
