
nav{
  background-color: #2B4168;
  border-bottom: #E24585;
  border-width: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;

}

nav span {
  padding: 0 0 0 25px;
  letter-spacing: 0.2em;
}

a{
  color:#FFFFFF;
}
a:hover {
  color:#E24585;
}

a:active, a:focus{
  color:#FFFFFF;

}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

button {
	border-radius: 10px;
	border: 2px solid #2B4168;
	background-color: #2B4168;
	color: #FFFFFF;
	font-size: 12px;

	padding: 10px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;

  transition: 0.3s ease;
}

button.ghost {
	background-color: transparent;
	border-color: #E24585;
  color: #FFFFFF;
  transition: 0.3s ease;
}

button.ghost:hover {
  background-color: #E24585;
	border-color: #E24585;
  color: #FFFFFF;
  transition: 0.3s ease;
}

.navbar {
  box-shadow: 0 2px 4px 0 #a0a0a0;
}

.navbar-brand{
  position:relative;
  padding-right: 50px;

}

.navbar-brand:hover{
  transition: 0.3s ease;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
