
    <div class="cards">
      <div class="card card1">
          <div class="container">
              <img src="./assets/images/lasvegas.jpg" alt="las vegas">
          </div>
          <div class="details">
              <h3>Microsoft Excel</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In convallis. Praesent in mauris eu tortor porttitor accumsan. Et harum quidem rerum facilis est et expedita distinctio. Integer tempor. Aliquam in lorem sit amet leo accumsan lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
              <div class="card-button">
                <button type="button" class="ghost">ENROLL TO COURSE</button>
              </div>
              <div class="details-footer">
                <div>Publikováno 12.10.2023</div>
                <div></div>
                <div>65 Lekcí <i class="fas fa-clock"></i> 456 minut</div>
              </div>
          </div>

      </div>
      <div class="card card2">
          <div class="container">
              <img src="./assets/images/newyork.jpg" alt="New York">
          </div>
          <div class="details">
              <h3>New York</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
          </div>
      </div>
      <div class="card card3">
          <div class="container">
              <img src="./assets/images/singapore.jpg" alt="Singapore">
          </div>
          <div class="details">
              <h3>Singapore</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
          </div>
      </div>

      <div class="card card1">
        <div class="container">
            <img src="./assets/images/lasvegas.jpg" alt="las vegas">
        </div>
        <div class="tag">
          <span>EXCEL</span>
        </div>
        <div class="details">
            <h3>Las Vegas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
        </div>
        <div>
          <span>aaa</span>
          <button type="button" class="ghost">ENROLL</button>
          <span>aaa</span>
        </div>
    </div>
    <div class="card card2">
        <div class="container">
            <img src="./assets/images/newyork.jpg" alt="New York">
        </div>
        <div class="details">
            <h3>New York</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
        </div>
    </div>
    <div class="card card3">
        <div class="container">
            <img src="./assets/images/singapore.jpg" alt="Singapore">
        </div>
        <div class="details">
            <h3>Singapore</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
        </div>
    </div>
  </div>
