<div [hidden]="!showCategory">
  <table class="table table-hover">
    <thead class="table-borderless">
      <tr class="text-center">
        <th>Photo</th>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let category of categories">
      <tr class="text-center">
        <td>{{category.id}}</td>
        <td>{{category.courseCategoryDescription}}</td>
        <td>{{category.courseCategoryCode}}</td>
        <td>{{category.courseCategoryCreatedDate}}</td>
        <td>{{category.courseCategoryUpdatedDate}}</td>
        <td>{{category.isCourseCategoryActive}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-outline-info" (click)="displayEditForm(category.id)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-outline-danger" (click)="deleteCourseCategory(category.id)"><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="displayAddForm()">Add New Category</button>

</div>

<div [hidden]="!showAddForm">
  <br>  <br>
  <br>
  <br>
  <br>
  <br>

  Showing ADD FORM
<button class="btn btn-primary">Odeslat</button>
  <button class="btn btn-primary" (click)="ngOnInit()">Zpět</button>

</div>


<div [hidden]="!showEditForm">
  <br>
  <br>
  <br>
  <br>
  <br>

Showing EDIT FORM
<button class="btn btn-primary" (click)="upadeCourseCategory()">Odeslat</button>
  <button class="btn btn-primary" (click)="ngOnInit()">Zpět</button>
</div>
